#contenedor{
    background-image: url(./img/fondo.jpg);
    background-repeat: repeat;

}

#seccion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

boton:hover {
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }