#contenedor{
    background-image: url(./img/fondo.jpg);
    background-repeat: repeat;
}

#seccion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}